footer {
  background-color: var(--color-gray-100);
  padding: 5rem 0;
}
footer .row {
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
}
footer .col-main {
  width: 35rem;
}
footer .col-main .logo {
  height: 3rem;
  margin-bottom: 3rem;
}
footer .col-main p {
  text-align: justify;
}
footer .box-social {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
footer .box-social img {
  width: 2.5rem;
  filter: var(--svg-blue-400);
}
footer .box-social img:hover {
  filter: var(--svg-blue-200);
}
footer .col {
  width: auto;
  max-width: 32rem;
}
footer h5 {
  font-weight: var(--sbold);
  color: var(--color-white);
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
footer .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer-menu li a {
  color: var(--color-gray-400);
  font-weight: var(--medium);
}
footer .footer-menu li a:hover {
  color: var(--color-blue-500);
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  footer .row {
    gap: 3rem;
}
}
@media (max-width: 400px) {
}
