.solutions {
  padding: 5rem 0;
}
.solutions .box-title {
  width: 40rem;
}
.solutions .blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.solutions .block {
  width: 100%;
  background: var(--color-white);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  filter: drop-shadow(0rem 0rem 1rem rgba(0, 0, 0, 0.1));
}
.solutions .block img {
  width: 5rem;
}

@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .solutions .blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .solutions .box-title {
    width: 100%;
}
.solutions .blocks {
  grid-template-columns: 100%;
}
}
@media (max-width: 400px) {
}
