.spotlight-blocks {
  padding: 7rem 0;
}
.spotlight-blocks .blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.spotlight-blocks .block {
  width: 100%;
  background: var(--color-white);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  filter: drop-shadow(0rem 0rem 1rem rgba(0, 0, 0, 0.1));
}
.spotlight-blocks .block img {
  width: 2.5rem;
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .spotlight-blocks .blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
}
@media (max-width: 400px) {
}
