.sub-hero {
  position: relative;
  z-index: 3;
}
.sub-hero .row {
  width: 76rem;
  margin: -15rem auto 0 auto;
  border-radius: 4rem;
  padding: 0 5rem;
  background: linear-gradient(90deg, var(--color-blue-300), var(--color-blue-200));
}
.sub-hero .col {
  display: grid;
  grid-template-columns: 1fr 0.2rem calc(50% - 0.2rem);
  gap: 2rem;
  align-items: center;
  margin-bottom: 5rem;
}
.sub-hero .box-image {
  width: 30rem;
  height: 38rem;
  margin-bottom: -5rem;
  position: relative;
}
.sub-hero .box-image .cell-1,
.sub-hero .box-image .cell-2,
.sub-hero .box-image .cell-3 {
  position: absolute;
}
.sub-hero .box-image .cell-1 {
  left: 0;
  bottom: 0;
  width: 167px;
  z-index: 2;
  animation: float 2.5s ease-in-out infinite;
}
.sub-hero .box-image .cell-2 {
  left: 98px;
  bottom: 60px;
  width: 130px;
  z-index: 3;
  animation: float 2s ease-in-out infinite;
}
.sub-hero .box-image .cell-3 {
  right: 0px;
  top: 0px;
  width: 120px;
  z-index: 3;
  animation: float 1.5s ease-in-out infinite;
}

.sub-hero .middle {
  position: relative;
  height: 60%;
  width: 100%;
  background-color: var(--color-blue-600);
}
.sub-hero .middle::before,
.sub-hero .middle::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: var(--color-blue-600);
  left: 50%;
  transform: translateX(-50%);
}
.sub-hero .middle::before {
  bottom: 0;
}
.sub-hero .middle::after {
  top: 0;
}
.sub-hero .title-secondary {
  margin-bottom: 0;
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .sub-hero .row {
    width: 100%;
    padding: 2rem;
  }
  .sub-hero .box-image {
    margin-bottom: 0;
    order: 3;
  }
  .sub-hero .col {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    gap: 4rem;
    margin-bottom: 0;
  }
  .sub-hero .middle {
    height: 0.3rem;
    width: 100%;
    order: 2;
  }
  .sub-hero .middle::before,
  .sub-hero .middle::after {
    left: unset;
    top: 50%;
    transform: translateY(-50%);
  }
  .sub-hero .middle::before {
    left: 0;
  }
  .sub-hero .middle::after {
    right: 0;
  }
  .sub-hero h3 {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .sub-hero .row {
    margin: -20rem auto 0 auto;
  }
}
@media (max-width: 400px) {
}
@keyframes float {
  0% {
    transform: translateX(0px) translateY(-0px);
  }
  50% {
    transform: translateX(5px) translateY(-5px);
  }
  100% {
    transform: translateX(0px) translateY(-0px);
  }
}
