.sub-about .row {
  margin-top: -10rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  filter: drop-shadow(0rem 1rem 0.7rem rgba(0, 0, 0, 0.1));
  width: 100rem;
  background-color: var(--color-white);
  border-radius: 3rem;
  padding: 3rem 4rem;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 3rem));
  gap: 3rem;
  align-items: center;
}
.sub-about .col-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-about .box-image {
  width: 41rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, var(--color-blue-300), var(--color-blue-200));
  border-radius: 1rem;
  position: relative;
}
.sub-about .box-image .computer,
.sub-about .box-image .cellphone {
  position: absolute;
}
.sub-about .box-image .computer {
  z-index: 1;
  bottom: 0;
  left: 56px;
  animation: upDown 2s ease-in-out infinite;
}
.sub-about .box-image .cellphone {
  z-index: 2;
  top: 0;
  right: 59px;
  animation: downUp 2s ease-in-out infinite;
}
@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
}
@keyframes downUp {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
  .sub-about .row {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .sub-about .row {
    grid-template-columns: 100%;
    width: 490px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .sub-about .row {
    width: 100%;
  }
  .sub-about .box-image {
    width: 25rem;
    height: 21rem;
  }

  .sub-about .box-image .computer {
    width: 220px;
    z-index: 1;
    bottom: 0;
    left: -10px;
  }
  .sub-about .box-image .cellphone {
    z-index: 2;
    top: 0;
    right: 30px;
    width: 51px;
  }
}
@media (max-width: 400px) {
}
